oglasi.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:simpleType name="vrednost">
  <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"></xs:minInclusive> 
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="validacija">
  <xs:restriction base="xs:string">
      <xs:pattern value="[^@]+@[^\.]+\..+"></xs:pattern>
  </xs:restriction>
</xs:simpleType>
  
  <xs:element name="PoducOglas">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Oglas" minOccurs="1" maxOccurs="unbounded">
          
          <xs:complexType>
            <xs:sequence>

              <xs:element name="Kategorija">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="tip" type="xs:string" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="poducavanje"></xs:enumeration>
                                <xs:enumeration value="privatni casovi"></xs:enumeration>
                                <xs:enumeration value="priprema za prijemni"></xs:enumeration>
                            </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>


              <xs:element name="DatumIsteka">
                <xs:complexType>
                  <xs:sequence>

                    <xs:element name="Dan">
                      <xs:simpleType>
                        <xs:restriction base="xs:integer">
                          <xs:minInclusive value="1"/>
                          <xs:maxInclusive value="31"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>

                    <xs:element name="Mesec">
                      <xs:simpleType>
                        <xs:restriction base="xs:integer">
                          <xs:minInclusive value="1"/>
                          <xs:maxInclusive value="12"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>

                    <xs:element name="Godina">
                      <xs:simpleType>
                        <xs:restriction base="xs:integer">
                          <xs:minInclusive value="2022"/>
                          <xs:maxInclusive value="9999"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>

                  </xs:sequence>
                </xs:complexType>
              </xs:element>

            
              <xs:element name="Cena">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="vrednost">
                      <xs:attribute name="valuta" type="xs:string" use="required" default="RSD">
                          <xs:simpleType>
                              <xs:restriction base="xs:string">
                                  <xs:enumeration value="RSD"></xs:enumeration>
                                  <xs:enumeration value="EUR"></xs:enumeration>
                              </xs:restriction>
                          </xs:simpleType>
                      </xs:attribute>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>

              <xs:element name="TekstOglasa" type="xs:string">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="10"></xs:minLength>
                        <xs:maxLength value="180"></xs:maxLength> 
                    </xs:restriction>
                </xs:simpleType>
              </xs:element>
              
              
              <xs:element name="Oznaka" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="oznaka" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>

              <xs:element name="Email" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="validacija">
                      <xs:attribute name="tip" type="xs:string" use="required">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                              <xs:enumeration value="sluzbeni"></xs:enumeration>
                              <xs:enumeration value="privatni"></xs:enumeration>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>

            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>